@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 400;
  src: local('Caudex'), url(https://fonts.gstatic.com/s/caudex/v5/C-hZH3TxxgxqDzJuctPSSw.woff) format('woff');
}
@font-face {
  font-family: 'Caudex';
  font-style: normal;
  font-weight: 700;
  src: local('Caudex Bold'), local('Caudex-Bold'), url(https://fonts.gstatic.com/s/caudex/v5/7-zMWCNNzmNM428U56wMqz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Caudex';
  font-style: italic;
  font-weight: 400;
  src: local('Caudex Italic'), local('Caudex-Italic'), url(https://fonts.gstatic.com/s/caudex/v5/4xlKHQzeciRH2984o6GTDPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Caudex';
  font-style: italic;
  font-weight: 700;
  src: local('Caudex Bold Italic'), local('Caudex-BoldItalic'), url(https://fonts.gstatic.com/s/caudex/v5/_KqFrbEZy5WPWJPByz6OJIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
